body{ font-family: Arial, Helvetica, sans-serif; font-style: normal; font-variant: normal; margin: 0 1em 2em; background-color: white; }
h1 { font-size: 32px; font-weight: 400; line-height: 48px; } 
h2 { font-size: 23px; font-weight: 500; line-height: 33px; } 
h3 { font-size: 18px; font-weight: 700; line-height: 28px; } 
p { font-size: 18px; font-weight: 400; line-height: 28px; } 
blockquote { font-size: 18px; font-weight: 500; line-height: 33px; } 
pre { font-size: 13px; font-weight: 400; line-height: 18px; }
a:link{
  text-decoration: underline;
}
.page{
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
}
.index-page,
.merch-page .not-shop{
  max-width: 480px;
  margin: 0 auto;
}
.merch-page{
  max-width: 1200px;
}
.merch-page > h1{
  padding-left: 14px;
}
#main-nav{
  display: block;
  padding: 1em 0;
  list-style: none;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
  margin: 0;
  border-bottom: 1px solid black;
}
#main-nav.merch li:first-child{
  margin-left: 1em;
}
#main-nav .title,
#main-nav li{
  padding: 0 15px 0 5px;
  display: block;
  float: left;
}
#main-nav li:first-child{
  padding-left: 0px;
}
.page img.half-size{
  width: 50%;
  margin: 0 auto;
}
.open-event{
  display: block;
  text-align: center;
  width: 100%;
  height: 32px;
  line-height: 32px;
}
.page a:hover{
  text-decoration: underline;
}
.event{
  display: block;
  margin-bottom: 20px;
  color: black;
  border: 1px solid black;
  background-color: rgba(255,255,255,0.7);
}
.page img{
  display: block;
  width: 100%;
  height: auto;
}
.page img.logo{
  width: 50%;
  margin-left: 25%;
}
.index-page{
  position: relative;
}
.vid-iframe{
  margin-bottom: 20px;
}
.vid-iframe iframe{
  max-width: 100%;
}
.page a.home-link,
.page a.enter-link{
  text-decoration: underline;
  color: blue;
  text-align: center;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
a#modwop-twoyear-fadeimage{
  display: block;
  background:  url(https://modwop.com/Resonance_II_Final_sm2.png) top center / contain no-repeat;
}
a#modwop-twoyear-fadeimage img{
  opacity: 1;
  transition: opacity 10s;
}
a#modwop-twoyear-fadeimage:hover img{
  opacity: 0;
}
.event .tt-widget{
  padding: 0 10px;
}
@media (prefers-color-scheme: dark) {
  html {
    filter: invert(1) hue-rotate(180deg);
  }
  img, video, iframe, svg use {
    filter: invert(1) hue-rotate(180deg);
  }
  a:link {
    color: #B3D1FF;
    text-decoration: underline;
    text-underline-offset: 3px;
  }
  a:visited {
    color: #E1BEE7;
  }
  a:hover {
    color: #B2F2BB;
    text-decoration-thickness: 2px;
  }
  a:active {
    color: #FFCCBC;
  }
  a:focus {
    outline: 2px dashed #B3D1FF;
    outline-offset: 4px;
  }
}
